.inner-about-section {
    background-color: #acff2f88;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

  .inner-about-section img{
        max-width: 300px;
  }

  .about-header {
    text-align: left; 
  } 
  
 .feature-icon {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }

  .inner-about-section h1 {
    font-size: 24px; 
    font-weight: bold;
    color: #333;
    text-align: left; 
  }

  .inner-about-section feature-icon{
    max-width: 100px;
  }
  
  .firstBgImg {
    margin: 20px 0;
    width: 200px;
  }
  
.bg-image {
    width: 300%;
    max-width: 200px;
    height: auto;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
  }
  
  @media (max-width: 768px) {
    .inner-about-section {
      margin-top: 150px;
      padding: 10px;
    }
  
    .feature-icon {
      width: 150px;
    }
  
    .bg-image {
      max-width: 90%;
    }
  
    .card-container {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 480px) {
    .feature-icon {
      width: 100px;
    }
  
    .inner-about-section h1 {
      font-size: 0.9;
    }
  }


  
  






