.nav-container {
  display: flex;
  justify-content: center; 
  align-items: center;


   // margin: auto;
    max-width: 50em;
    border: 5px solid #161111;
    border-radius: 2.5rem;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
    background-color: #222;
    padding: 0.2rem;
    overflow: hidden;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #000;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: red;
    overflow: hidden;
    gap: 2.5em;
  }
  
  // Logo styling (aligned left)
  .nav-bar img:first-child {
    width: 6em; 
    height: auto;
  }
  
  // Download button styling (aligned right)
  .nav-bar img:last-child {
    width: 8em; 
    height: auto;
    cursor: pointer;
  }
  
  // Navigation list styling
  .nav-bar ul {
    display: flex;
    justify-content: center; 
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-bar ul li {
    margin: 0 0.5rem; 
  }

  .menu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.nav-bar button {
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  color: #f1f5f1;
  background: none;
  border: none;
}

.nav-bar button:not(.activeSection)::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #32cd32;
  left: 0;
  bottom: -5px;
  transform: scale(0, 1);
  transition: transform 0.25s ease;
  transform-origin: 0 100%;
}

.nav-bar button:not(.activeSection):hover::before {
  transform: scale(1, 1);
}

.nav-bar button.activeSection::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #32cd32;
  bottom: -5px;
  left: 0;
}

@media (min-width: 320px) {
    nav {
        display: block;
        flex-direction: column;
        align-items: start;
        align-content: start;

    }

    .nav-container {  
      border: 2px solid #161111;
      min-width: 380px;
      border-radius: 1.5rem;
      }

    .nav-bar {
      margin: auto;
      padding: 0;
      max-width: 80%;
      gap: 0.5em;
    }

    // Logo styling (aligned left)
  .nav-bar img:first-child {
    width: 3em; 
  }
  
  // Download button styling (aligned right)
  .nav-bar img:last-child {
    width: 3.5em; 
  }
  
  $sections: "About", "Home", "Blog", "Support";
  @each $section in $sections {
    button[data-content="#{$section}"] {
      font-size: 10px;
    }
  }  
   
  }

/* Medium devices and up (768px to 1440px) */
@media (min-width: 768px) and (max-width: 1440px) {

      
}



