@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

//Base Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// HTML and Body Reset
html,
body {
 // width: 100%;
 // height: 100%;
//  padding-top: 60px;
  font-family: 'Josefin Sans', sans-serif; 
//  line-height: 1.6; 
//  overflow-x: hidden; 
  background-color: rgb(255, 255, 255);
}

/* // Default Styles for Root Container
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
 // align-items: center;
 // justify-content: center;
}
 */

